<h1>Add a new word here:</h1>

<form action="/" method="post">

  <label for="word">Your word:</label>
  <br>
  <input id="word" name="word" type="text" placeholder="Word">
  <br>

  <label for="language">Your word's language:</label>
  <br>
  <input id="language" name="language" type="text" placeholder="Language">
  <br>

  <label for="root">Your word's root:</label>
  <br>
  <input id="root" name="root" type="text" placeholder="Root">
  <br>

  <h1>Add a definition:</h1>
  <label for="meaning">Your word's definition:</label>
  <br>
  <input id="meaning" name="meaning" type="text" placeholder="Definition">
  <br>

  <label for="synonym">A synonym of your word:</label>
  <br>
  <input id="synonym" name="synonym" type="text" placeholder="Synonym">
  <br>

  <label for="antonym">An antonym of your word:</label>
  <br>
  <input id="antonym" name="antonym" type="text" placeholder="Antonym">
  <br>

  <br>
  <button type="submit">Add Word</button>

</form>
