<!-- <h1>Add the definition of your word here:</h1>

<form action="/" method="post">
  <input id="" name="" type="hidden" value="<% @word.meaning()%>">

  <label for="definition">Your word's definition:</label>
  <input id="definition" name="definition" type="text" placeholder="Definition">

  <label for="synonym">A synonym of your word:</label>
  <input id="synonym" name="synonym" type="text" placeholder="Synonym">

  <label for="antonym">An antonym of your word:</label>
  <input id="antonym" name="antonym" type="text" placeholder="Antonym">

  <button type="submit">Add Definition</button>

</form> -->
