<h1>Here's the information about your word.</h1>

<ul>
  <li>Word:</li>
  <li>Language:</li>
  <li>Root:</li>
</ul>

<ul>
  <li>Definition:</li>
  <li>Synonym:</li>
  <li>Antonym:</li>
</ul>

<a href="/new_word">Add Another!</a>
